@import url('https://fonts.googleAPIs.com/css2?family=Inter:wght@400;600;700&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.cdnfonts.com/css/circular-std');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Archia';
    src: local('Archia'),
    url('/static/fonts/Archia/archia-regular-webfont.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: local('Circular Std'),
    url('/static/fonts/Circular/CircularAir-Light.ttf') format('truetype');
    font-weight: 300;
}


/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --fg-base--default: #20203A;
    --fg-base--muted: #424242;
    --fg-base--contrast: #FFFFFF;
    --fg-base--indistinguishable: #9B9BA8;

    --fg-role--accent-01: #0066DD;
    --fg-role--accent-02: #BD9400;
    --fg-role--success: #0F6D13;
    --fg-role--error: #EB1239;
    --fg-role--active: #C730FC;

    --bg-base--default: #FFFFFF;
    --bg-base--subtle: #F2F2F2;
    --bg-base--mutedDefault: #FFFFFF;
    --bg-base--mutedBlue: #E2E6F3;
    --bg-base--indistinguishable: #E1E1E6;
    --bg-base--contrast: #3880EC;

    --bg-transparent--blue--02: rgba(58, 148, 254, 0.2);
    --bg-transparent--blue--05: rgba(58, 148, 254, 0.5);

    --bg-role--building: #D8E3F1;
    --bg-role--success: #DEF8DE;
    --bg-role--error: #FBCED6;
    --bg-role--syncing: #EECCED;
    --bg-role--info: #BEFCF8;
    --bg-role--notice: #F1DAFC;
    --bg-role--warning: #F7EDB9;

    --bg-trans--accentPink: rgba(76, 26, 116, 0.1);


    --border-color-base--default: #D4D4E8;
    --border-color-base--muted: #A4A4C6;
    --border-color-base--subtle: #707082;
    --border-color-base--contrast: #E1AC3A;
    --border-color-base--accentPurple: #B434F1;

    --border-color-role--blue: #3A94FE;

    --bg-empty: none;

    --ifm-background-color: var(--bg-base--default);
    --ifm-color-primary: var(--fg-role--accent-01);
    --ifm-font-family-base: 'Circular Std', sans-serif;
    --ifm-heading-font-family: 'Circular Std', sans-serif;

    --ifm-menu-color: var(--fg-base--default);

    --ifm-menu-link-padding-vertical: 8px;
    --ifm-toc-border-color: transparent !important;
    --doc-sidebar-width: 300px !important;

    --ifm-navbar-padding-vertical: 24px;
    --ifm-navbar-height: auto;
    --ifm-navbar-background-color: var(--bg-base--indistinguishable);
    --ifm-link-hover-color: var(--fg-base--muted);

    --docsearch-primary-color: var(--fg-base--default) !important;
    --docsearch-modal-background: var(--bg-base--indistinguishable) !important;
    --docsearch-footer-background: var(--bg-base--mutedBlue) !important;
    --docsearch-key-gradient: var(--bg-base--mutedBlue) !important;

    --ifm-menu-link-padding-horizontal: 8px !important;
    --ifm-breadcrumb-color-active: #3880EC !important;
    --ifm-breadcrumb-item-background-active: none !important;
    --link-color: #3880EC;
    --link-color-hover: #1C1E21;
    --docsearch-searchbox-background: #F2F2F2 !important;

    --breadcrumb-color: #7A7B8A;
    --bg-nav-bar: #ffffff;
    --ifm-footer-background-color: #ffffff;

    --quide-card-bg-hover: transperent;
    --quide-card-shadow-hover: 0px 0px 4px rgba(67, 65, 65, 0.15);
    --ifm-list-item-margin: 0.5rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --fg-base--default: #F1F2F6;
    --fg-base--muted: #D1D1D1;
    --fg-base--contrast: #FFFFFF;
    --fg-base--indistinguishable: #424356;

    --fg-role--accent-01: #3A94FE;
    --fg-role--accent-02: #E0BF48;
    --fg-role--success: #7BD17F;
    --fg-role--error: #EE506D;
    --fg-role--active: #C730FC;

    --bg-base--default: #18181C;
    --bg-base--subtle: #242428;
    --bg-base--mutedDefault: #383841;
    --bg-base--mutedBlue: #29293A;
    --bg-base--indistinguishable: #1B1B1F;
    --bg-base--contrast: #3880EC;

    --bg-transparent--blue--02: rgba(58, 148, 254, 0.2);
    --bg-transparent--blue--05: rgba(58, 148, 254, 0.5);

    --bg-role--building: #28323F;
    --bg-role--success: #1C2B1C;
    --bg-role--error: #552830;
    --bg-role--syncing: #392138;
    --bg-role--info: #1D4D4A;
    --bg-role--notice: #512864;
    --bg-role--warning: #5C4128;

    --bg-trans--accentPink: rgba(76, 26, 116, 0.1);


    --border-color-base--default: #2F2F3A;
    --border-color-base--subtle: #9A9AA7;
    --border-color-base--muted: #484856;
    --border-color-base--contrast: #E1AC3A;
    --border-color-base--accentPurple: rgba(156, 36, 151, 1);

    --border-color-role--blue: #3A94FE;

    --bg-empty: none;

    --ifm-background-color: var(--bg-base--default) !important;

    --ifm-font-family-base: 'Circular Std', sans-serif;

    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

    --ifm-link-hover-color: var(--fg-base--muted);

    --docsearch-primary-color: var(--fg-base--muted) !important;
    --docsearch-modal-background: var(--bg-base--indistinguishable) !important;
    --docsearch-footer-background: var(--bg-base--mutedBlue) !important;
    --docsearch-key-gradient: var(--bg-base--mutedBlue) !important;

    --link-color: #3880EC;
    --link-color-hover: #E3E3E3;
    --docsearch-searchbox-background: #242428 !important;
    --breadcrumb-color: #A4A1A9;
    --bg-nav-bar: #18181C;

    --ifm-footer-background-color: #18181C;

    --quide-card-bg-hover: #242428;
    --quide-card-shadow-hover: 0px 0px 12px rgba(67, 65, 65, 0.3), 0px 0px 4px rgba(67, 65, 65, 0.15)
}


html, body, #__docusaurus {
    background: var(--bg-nav-bar);
}

body p, body span {
    font-size: 17px;
}

.markdown h1:not(:where(.onboarding-homepage *)) {
    font-family: var(--ifm-heading-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 64px;
    letter-spacing: -0.01em;
}

.markdown h2:not(:where(.onboarding-homepage *)) {
    font-family: var(--ifm-heading-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.01em;
}

.markdown h3:not(:where(.onboarding-homepage *)) {
    font-family: var(--ifm-font-family-base);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.markdown h4:not(:where(.onboarding-homepage *)) {
    font-family: var(--ifm-font-family-base);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
}

.markdown h5:not(:where(.onboarding-homepage *)) {
    font-family: var(--ifm-font-family-base);
    font-style: normal;
    font-weight: 600;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
}

.markdown h6:not(:where(.onboarding-homepage *)) {
    font-family: var(--ifm-font-family-base);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.markdown p:not(:where(.onboarding-homepage *)) {
    font-family: var(--ifm-font-family-base);
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: -0.02em;
}

@layer components {
    .h1 {
        font-family: var(--ifm-heading-font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.03em;
    }

    .h2 {
        font-family: var(--ifm-heading-font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: -0.03em;
    }

    .h3 {
        font-family: var(--ifm-font-family-base);
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: -0.01em;
    }

    .h4 {
        font-family: var(--ifm-font-family-base);
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
    }

    /* H5 */
    .body--l {
        font-family: var(--ifm-font-family-base);
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.02em;
    }

    /* H6 */
    .body--m {
        font-family: var(--ifm-font-family-base);
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }

    /* p, main text */
    .body--s {
        font-family: var(--ifm-font-family-base);
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: -0.02em;
    }

    .caption {
        font-family: var(--ifm-font-family-base);
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.02em;
        --line-height: 16px;
    }

}


.markdown a:not(.x-button) {
    font-family: inherit;
    font-style: inherit;
    font-weight: 450;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;

    color: var(--fg-role--active);
}

.markdown ul {
    @apply pl-4 ml-12;
    font-weight: 300;
}

.codestep + div {
    @apply ml-12;
}

.codestep + div code {
    @apply p-6;
}

.buttonGroup_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-Content-styles-module {
    @apply top-2/4 -translate-y-2/4 !important;
}

.buttonGroup_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-Content-styles-module button {
    @apply rounded-full bg-bg-base--default text-fg-base--muted border border-border-color-base--default w-8 h-8 !important;
}

.theme-doc-sidebar-container {
    margin-top: 0 !important;
}

.sidebar_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-styles-module {
    padding-top: 32px !important;
    margin-top: -32px !important;
    top: 0 !important;
}

.main-wrapper {
    @apply max-w-[1128px] xl:max-w-[1280px] xl:max-w-[1360px] wide:max-w-[1480px] mx-auto pt-14 w-full pb-[232px] !important;
}

.thin-scrollbar::-webkit-scrollbar {
    display: none;
}

.menu__list-item-collapsible--active {
    background-color: transparent;
}

.menu.thin-scrollbar {
    padding: 0;
}

.theme-doc-sidebar-menu {
    --ifm-menu-link-sublist-icon: url('/static/img/menu-arrow.svg');
}

.theme-doc-sidebar-menu .menu__list-item:not(:first-child) {
    @apply mt-4;
}

.theme-doc-sidebar-item-category .menu__list-item {
    @apply mt-2 !important;
    --ifm-menu-color: var(--fg-base--muted);
}

.menu {
    @apply font-normal !important;
}

.menu__caret {
    @apply p-0;
    transform: rotate(0deg);
}

.menu__caret:before {
    background: var(--ifm-menu-link-sublist-icon) 50% / 1rem 1rem;
    transform: rotate(0deg);
}

.menu__list-item--collapsed .menu__caret:before {
    transform: rotate(-90deg);
}

svg {
    display: initial;
}

pre {
    font-family: "PT Mono", monospace;
}

.language-bash .token-line, .language-bash .function {
    color: var(--fg-role--accent-01) !important;
}

html {
    font-family: var(--ifm-font-family-base) !important;
}

#__docusaurus .main-wrapper {
    @apply pt-10 pb-28 !important;
}

.navbar {
    background: var(--bg-nav-bar);
    box-shadow: none;
}

.navbar__inner {
    @apply max-w-[1128px] xl:max-w-[1280px] xl:max-w-[1360px] wide:max-w-[1480px] px-6 mx-auto !important;
}

@media (max-width: 480px) {
    .navbar__inner {
        @apply px-0 !important;
    }
}

.theme-doc-sidebar-menu .menu__list-item:not(:first-child) {
    @apply mt-2;
}

.menu__link {
    line-height: 1.5;
}

.x-button {
    @apply rounded-lg body--s py-2 px-6 w-fit border;
}

.x-button.bg-bg-base--contrast:hover {
    @apply bg-bg-base--subtle text-fg-base--default border border-border-color-base--contrast no-underline;
}

.markdown a:hover, a:hover {
    color: var(--ifm-link-hover-color);
    @apply no-underline;
}

.main-wrapper > div {
    @apply gap-14;
}

.theme-doc-version-badge {
    @apply mb-4;
}

.theme-doc-sidebar-container > div > a {
    display: none !important;
}

.navbar__logo img {
    display: block !important;
}

ul, ol {
    list-style: revert;
    margin: 0 0 var(--ifm-list-margin);
    padding-left: var(--ifm-list-left-padding);
}

.admonition-icon {
    vertical-align: baseline;
}

.theme-doc-footer-edit-meta-row, .pagination-nav__label {
    @apply text-fg-role--accent-01;
}

.theme-doc-footer {
    margin-top: 1.8rem !important;
}

@media screen and (min-width: 1280px) {
    .main-wrapper {
        @apply px-6 !important;
    }
}

.DocSearch-Button-Keys {
    display: none !important;
}

.DocSearch.DocSearch-Button {
    min-width: 172px;
    border-radius: 8px;
    color: var(--fg-base--muted) !important;
}

.DocSearch.DocSearch-Button:hover {
    box-shadow: inset 0 0 0 1px #3880EC;
}

.DocSearch-Search-Icon {
    color: #777777 !important;
    height: 12px;
    width: 12px;
}

.DocSearch-Button-Placeholder {
    font-style: normal;
    font-weight: 450;
    font-size: 14px !important;
    line-height: 14px;
    padding: 0 8px 0 8px !important;
    letter-spacing: -0.02em;
}


.menu__link {
    font-size: 17px;
    height: 32px;
    border-radius: 8px;
}

.menu__list .menu__list {
    padding-left: 14px !important;
}

.menu__list .menu__list .menu__link {
    font-weight: 300;
}


.x-button.bg-bg-base--contrast {
    border-color: var(--bg-base--contrast);
    font-weight: 450;
}

.x-button.bg-bg-base--contrast:hover {
    background-color: var(--border-color-base--contrast);
}

.x-button--small {
    padding: 4px 10px !important;
    font-size: 14px !important;
    font-weight: 500;
    border-radius: 100px;
    background: none;
    color: var(--link-color);
    transition: background 200ms, color 200ms;
}

.x-button--small:hover {
    background: var(--link-color);
    border-color: var(--link-color);
    color: #fff;
}

.breadcrumbs__link {
    color: var(--breadcrumb-color);
}

.breadcrumbs .breadcrumbs__item:first-child .breadcrumbs__link {
    padding-left: 0 !important;
}

.link {
    color: #C730FC !important;
}

.link:hover {
    color: var(--link-color-hover) !important;
}

.tutorial-card__btn {
    border-color: transparent;
    margin-left: -10px;
}

.tutorial-card:hover .tutorial-card__btn {
    background: var(--link-color);
    border-color: var(--link-color);
    color: #fff;
}

.navbar__items--right {
    @apply gap-5;
}

.icon-like, .icon-dislike {
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon::before {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: contain;
}

.icon-like::before {
    background-image: url("/static/img/like.png");
}

.icon-dislike::before {
    background-image: url("/static/img/dislike.png");
}

.icon-smile::before {
    background-image: url("/static/img/smile.png");
}

.icon-mage::before {
    background-image: url("/static/img/mage.png");
}

.navbar--fixed-top {
    position: relative !important;
}

.guide-cards {
    margin: -16px;
}

.docsRating {
    @apply mt-6;
}

.quide-card:hover {
    background: var(--quide-card-bg-hover);
    box-shadow: var(--quide-card-shadow-hover);
}

.markdown ul {
    margin-left: 0.5rem !important;
}

code, kbd, samp, pre {
    font-size: inherit;
    vertical-align: baseline;
}
